#nav {
	background-color: rgba(0, 0, 0, 0.4);
}

#header {
	white-space: nowrap;
	color: white;
}

#nav-list {
	color: white;
}

.main-content-img {
	height: 100vh;
	z-index: -1;
}

.main-content-img-cover {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.carousel-control {
	z-index: 100;
}

.carousel-title {
	width: 70%;
	height: 50vh;
	z-index: 100;
}

.carousel-title h1 {
	font-family: 'SOYOMapleBoldTTF';
}