main.form-signin {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* 화면 전체 높이에 맞게 중앙 정렬 */
}

main.form-signin form {
	width: 30%;
}

#submitBtn {
	background-color: #526aa7;
}

#header {
	color: #4567D0;
}